<% if @files.present? %>

<table id="pc_loglist" class="pc_only">
    <thead>
        <tr>
            <th><%= t("log.date") %></th>
            <th><%= t("log.name") %></th>
            <th><%= t("log.participant") %></th>
        </tr>
    </thead>
    <tbody>
        <% @files.each do |file| %>
        <tr data-url="<%= log_path(file[:id]) %>">
            <td></td>
            <td><p><%= file[:name] %></p></td>
            <td></td>
        </tr>
        <% end %>
    </tbody>
</table>

<div id="sp_loglist" class="sp_only">
    <% @files.each do |file| %>
    <div class="loglist_container" data-url="<%= log_path(file[:id]) %>">
        <span class="loglist_date"></span>
        <p class="loglist_title"><%= file[:name] %></p>
    </div>
    <% end %>
</div>

<% end %>